<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>'.$title.'</title>
                <link rel="stylesheet" href="'.PATH_DIR.'assets/css/styles.css">
            </head>
            <nav>
            <ul>
                <li><a href="'.PATH_DIR.'">Home</a></li>
                <li><a href="'.PATH_DIR.'film">Film</a></li>
                <li><a href="'.PATH_DIR.'film/create">Ajouter un film</a></li>

            </ul>
        </nav>
    <body>
        <div class="container">
         
        </div>
    </body>
</html>
